<!-- Toolbar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="toolbar" role="banner">
  <img width="80" alt="logo" [routerLink]="['/']" class="logo" src="/assets/images/TasheLogo1.jpeg" />

  <!--<div class="active "><a style="font-size: 20px; text-decoration: none;
  color:grey;" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
  </!--<div> -->
  <div class="name"><a style="font-size: 20px;text-decoration: none;
  color: white;" class="p-2 " routerLink="/shop" routerLinkActive="active"> Shop</a>
  </div>

  <div class="spacer"></div>
  <div class="wrapper"><a  style="font-size: 20px;text-decoration: none;
  color: white;" class="p-2 " routerLink="/basket" > <i class="fa fa-shopping-basket"
        aria-hidden="true"></i> <span *ngIf="(basket$ | async)" style="font-size: 18px;text-decoration: none;
  color: red;">{{(basket$ | async).items.length}}</span></a></div>

<ng-container *ngIf="(currentUser$ | async) === null" >
  <a  style="font-size: 20px;text-decoration: none;
  color: white;" class="p-2 " routerLink="/account/login"> <i class="fa fa-sign-in"></i></a>

  <a style="font-size: 20px;text-decoration: none;
  color: white;" class="p-2 " routerLink="/account/register" > <i class="fa fa-user-plus"></i></a>

  
</ng-container>

<ng-container *ngIf="currentUser$ | async">
  <div class="dropdown ml-3 mr-4" dropdown>
    <a class="dropdown-toggle" style="cursor: pointer; color: white;" dropdownToggle>
      <strong>Hi! {{(currentUser$ | async).displayName}}</strong>
    </a>
    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
      <a style="cursor: pointer; color: blue;" routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
        <i class="fa fa-shopping-cart mr-3"></i> View Basket
      </a> <!---->
      <a style="cursor: pointer; color: blue;" routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
        <i class="fa fa-history mr-3"></i> View Orders
      </a>
      <div class="dropdown-divider"></div>
      <a  style="cursor: pointer; color: blue;" (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
        <i class="fa fa-sign-out mr-3"></i> Logout
      </a>
    </div>
  </div>

</ng-container>
  
</div>



